.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }



  .first-box {
    /* The image used */
    /* background-image: url("https://st2.depositphotos.com/1003272/5998/i/950/depositphotos_59988165-stock-photo-white-box.jpg"); */

   
    /* Center  image nicely */
    /* background-position: right;
    background-size: center; */
    /* position: relative;
    height: 200px; */
   
   
}

/*  styles to the form */
.secend-box {
    /* position:absolute; */
    /* height: 200px; */
   
    /* right: 100px;
    left: 20px; */
    /* margin: 300px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-block-end: 100px;
    margin-block-start: 100px;
    max-width: 500px;
    padding: 100px; */
    /* background-color: rgb(165, 151, 146);
    border-radius: 55px 3px 60px 0px ; */
}

/* .img-responsive {
  width: 70px;
  height: 100px;
} */



.nayeem1 p {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgb(250, 248, 248); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.nayeem1 p span { 
   background:rgb(36, 32, 32); 
   padding:0 10px; 
}